body{
    background-color:#5D3C7E  ;
    margin-top: 0%;
}
img{
    border-radius: 10px;
}
header{
    margin-top: 0%;
    text-align: center;
    padding-top: 3px;
    color:white;
    background-color: rgb(144, 232, 180);
}
header p{
   font-size: 20px;
   font-style: italic;
}
header h1{
    text-shadow:2px 2px 5px salmon;
}
footer{
    padding:25px;
    background-color: whitesmoke;
}
.wikky{
   display: flex;
}
.about_me{
    padding-left: 5%;
    padding-top: 0%;
}
p{
    color: white;
}
h1{
   text-shadow: 2px 2px 5px #c0c0c0;
}
h2{
    text-shadow: 2px 2px 5px #c0c0c0;
}
footer p{
    color: black;
    text-align: center;
}
a{
    color:#74B41C ;
}
span{
    color: red;
}
div{
    margin-top: 0%;
    padding-top: 0%;
}
.more{
    display: flex;
   justify-content: space-evenly;
}
.more_info{
    border: 3px solid black;
    padding-left: 10px;
    font-weight: bolder;
}
.more_info h2{
    text-align: center;
}
li{
    font-family: Brush Script MT;
}